
<div class="title-bar" data-responsive-toggle="main-menu" data-hide-for="medium">
    <button class="menu-icon" type="button" data-toggle></button>
    <div class="title-bar-title">Menu</div>
</div>

<div class="top-bar" id="main-menu">
    <div class="row">

        <div class="top-bar-left">
            <ul class="menu" data-responsive-menu="drilldown medium-dropdown">
                <li><a href="{{ path('homepage') }}">HOME</a></li>
                <li><a href="{{ path('most_viewed') }}">MOST VIEWED</a></li>
                <li><a href="{{ path('channels') }}">VIDEO CHANNELS</a></li>
                {% if category %}
                    <li class="has-submenu">
                        <a href="#">CATEGORIES</a>
                        <ul class="submenu menu vertical" data-submenu>
                            {% for cat in category %}
                                <li>
                                    <a class="page-scroll" href="{{ path('single_cat', {'slug': cat.slug}) }}">{{ cat.name|title }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endif %}
                {% if page %}
                <li class="has-submenu">
                    <a href="#">INFO</a>
                    <ul class="submenu menu vertical" data-submenu>
                        {% for link in page %}
                            <li>
                                <a class="page-scroll" href="{{ path('single_page', {'slug': link.slug}) }}">{{ link.name|title }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
                {% endif %}
            </ul>
        </div>
        <div class="top-bar-right">
            <ul class="menu" data-responsive-menu="drilldown medium-dropdown">


            {% if is_granted('ROLE_USER') %}
                <li class="has-submenu">
                    <a href="#">MY AREA</a>
                    <ul class="submenu menu vertical" data-submenu>
                        <li>
                            <a class="" href="{{ path('user_home', {'slug': app.user.slug}) }}">My Videos</a>
                        </li>
                        <li>
                            <a class="" href="{{ path('user_home_waiting_approval', {'slug': app.user.slug}) }}">Waiting Approval</a>
                        </li>
                        <li>
                            <a class="" href="{{ path('user_home_liked', {'slug': app.user.slug}) }}">Liked Videos</a>
                        </li>
                        {% if is_granted('ROLE_ADMIN') %}
                        <li>
                            <a class="" href="{{ path('admin_dashboard') }}">Admin Area</a>
                        </li>
                        {% endif %}
                    </ul>
                </li>
                <li><a href="{{ path('security_logout') }}"><i class="fa fa-user" aria-hidden="true"></i> LOGOUT</a></li>
                <li> Hi {{ app.user.username|title }}</li>
            {% else %}
                <li><a href="{{ path('user_register') }}">SIGN UP</a></li>
                <li><a href="{{ path('security_login') }}"><i class="fa fa-user" aria-hidden="true"></i> LOGIN</a></li>
            {% endif %}
            </ul>
        </div>

    </div>
</div>



