
<div class="title-bar" data-responsive-toggle="main-menu" data-hide-for="medium">
    <button class="menu-icon" type="button" data-toggle></button>
    <div class="title-bar-title">Menu</div>
</div>

<div class="top-bar" id="main-menu">
    <div class="row">

        <div class="top-bar-left">
            <ul class="menu" data-responsive-menu="drilldown medium-dropdown">
                <li><a href="{{ path('homepage') }}">HOME</a></li>
            </ul>
        </div>
        <div class="top-bar-right">
            <ul class="menu" data-responsive-menu="drilldown medium-dropdown">

            {% if is_granted('ROLE_USER') %}
                <li class="has-submenu">
                    <a href="#"><i class="fa fa-address-card" aria-hidden="true"></i> MY AREA</a>
                    <ul class="submenu menu vertical" data-submenu>

                        <li>
                            <a class="" href="{{ path('user_home', {'slug': app.user.slug}) }}">My Profile</a>
                        </li>
                        {% if is_granted('ROLE_ADMIN') %}
                        <li>
                            <a class="" href="{{ path('admin_dashboard') }}">Admin Area</a>
                        </li>
                        {% endif %}
                    </ul>
                </li>
                <li><a href="{{ path('security_logout') }}"><i class="fa fa-sign-out" aria-hidden="true"></i>  LOGOUT</a></li>
                <li><a href="#"><i class="fa fa-user" aria-hidden="true"></i> Hi {{ app.user.username|title }}</a></li>
            {% else %}
                <li><a href="{{ path('user_register') }}"><i class="fa fa-users" aria-hidden="true"></i> SIGN UP</a></li>
                <li><a href="{{ path('security_login') }}"><i class="fa fa-sign-in" aria-hidden="true"></i> LOGIN</a></li>
            {% endif %}
            </ul>
        </div>

    </div>
</div>



