{% extends 'App/layout/inc/admin_box_layout.html.twig' %}


{% block title %}Channel edit{% endblock %}

{% block form %}
    <!-- form start -->

    {{ form_start(edit_form) }}
    {{ form_widget(edit_form) }}
    <button type="submit" class="btn btn-primary btn-lg btn-block" formnovalidate>Edit</button>
    {{ form_end(edit_form) }}

    {{ form_start(edit_form) }}

{% endblock %}

{% block links %}

   <ul>
    <li>
        <a href="{{ path('admin_channel_index') }}" class="btn btn-default btn-lg btn-block">Back to the list</a>
    </li>
       <p></p>
    <li>
        {{ form_start(delete_form) }}
        <button type="submit" class="btn btn-primary btn-lg btn-block" formnovalidate><i class="fa fa-trash" aria-hidden="true"></i></button>
        {{ form_end(delete_form) }}
    </li>
    </ul>

{% endblock %}
