{% extends 'App/layout/inc/admin_table_layout.html.twig' %}


{% block title %}Api Keys{% endblock %}

{% block table_head %}
    <th>Id</th>
    <th>Name</th>
    <th>Slug</th>
    <th></th>
{% endblock %}

{% block table_data %}

    {% for page in pages %}
        <tr>
            <td><a href="{{ path('admin_page_show', { 'id': page.id }) }}">{{ page.id }}</a></td>
            <td>{{ page.name }}</td>
            <td>{{ page.slug }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('admin_page_edit', { 'id': page.id }) }}" class="btn btn-primary">
                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}

    <ul>
        <li>
            <a href="{{ path('admin_page_new') }}" class="btn btn-primary">create a page</a>
        </li>
    </ul>
{% endblock %}
