{% extends 'App/layout/admin_base.html.twig' %}

{% block body %}
    <h1>Widget</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ widget.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ widget.title }}</td>
            </tr>
            <tr>
                <th>Body</th>
                <td>{{ widget.body }}</td>
            </tr>
            <tr>
                <th>Position</th>
                <td>{{ widget.position }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ widget.status }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_widget_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_widget_edit', { 'id': widget.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
